// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#experiment {
  margin-top: 100px;
}

.hidden-images {
  div {display: none}
}

div.dialog-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  div {
    padding: 5px;
  }
  input, textarea {width: 200px}
  button {
    float: right;
    margin-top: 20px;
  }
}

div.experiment {
  #stimuli {
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    div.stimuli {
      display: none;
      &.show {
        display: block;
      }
    }
    .stimuli-1 {background-color: #FFFF00}
    .stimuli-2 {background-color: #FFCC00}
    .stimuli-3 {background-color: #FF4400}
    .stimuli-4 {background-color: #FF0000}
    .stimuli-5 {background-color: #FFAA00}
    .stimuli-6 {background-color: #FF7700}
    .stimuli-7 {background-color: #FFDD00}
    .stimuli-8 {background-color: #FF2200}
    .stimuli-9 {background-color: #FF1100}
    .stimuli-10 {background-color: #FFFF00}
  }
  #controls {
    display: inline-block;
    background-color: lightgray;
    width: 260px;
    padding: 20px;
    button {
      width: 100px;
      margin-left: auto;
      margin-right:auto;
      display: block;
      &.stimuli-button {
        width: 100px;
      }
      &.control {
        width: 40px;
        display: inline-block;
      }
    }
  }
}